.artgen{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}
.postcardart{
	max-width: 800px;
	width: 100%;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
}
.makepostcard{
	margin: 20px auto 10px auto;
	padding: 20px 35px;
	border: 2px solid white;
	border-radius: 5px;
	display: block;
	max-width: calc(800px - 40px);
	cursor: pointer;
	transition: background-color 0.25s ease, border-color 0.25s ease;
	box-sizing: border-box;
}
.makepostcard.imageloaded{
	background: green;
	border-color: green;
}
.makepostcard.imageloading{
	color: #333;
	background: lightgray;
	border-color: gray;
	cursor: not-allowed;
}